<body>
  <h2 class="display-4">POC</h2>
  <div class="container mt-5">
    <div id="box">
      <label for="ename">Employee Name</label>
      <input type="text" class="form-control" id="ename" [(ngModel)]="EmpName">
  
      <label for="eno">Employee Number</label>
      <input type="text" class="form-control" id="eno" [(ngModel)]="EmpNo">
  
      <button (click)="submitData()" class="btn btn-primary mt-3 mb-2">Submit</button>
    </div>
  
    <table class="table mt-3" >
      <thead class="thead-light">
      <tr>
        <th>SNo.</th>
        <th>Employee Name</th>
        <th>Employee Number</th>
        <th>Action</th>
      </tr>
      </thead>
  
      <tr *ngFor="let item of arr; let i = index" [ngStyle]="{'background-color': (item.no%2==0) ? 'green' : 'red'}">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.no}}</td>
        <td><button (click)="deleteData(i)" class="btn btn-primary btn-lg">Delete</button></td>
      </tr>
    </table>
  </div>
  </body>
  